<div id="head">
    <p class="iconfont" id="p1">&#xe603</p>
    <p id="log">点此登录</p>
</div>
<ul id="ulList">
    <li>
        <p class="lp">我是代言人</p>
        <p class="rp"> > </p>
    </li>
    <li>
        <p class="lp">我的订单</p>
        <p class="rp"> > </p>
    </li>
    <li>
        <p class="lp">我的优惠券</p>
        <p class="rp"> >  </p>
    </li>
    <li>
        <p class="lp">我的帐户</p>
        <p class="rp"> >  </p>
    </li>
    <li>
        <p class="lp">玩乐商城</p>
        <p class="rp">  > </p>
    </li>
</ul>